body {
  background-color: #2d132c;
  color: #ee4540;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
}

.container {
  margin: 0 auto;
}

h1 {
margin: 15px;
}

h2{
  margin: 5px;
  font-weight: 400;
}

p {
  margin: 5px;
  text-align: justify;
}

a  {
  color: pink;
  background-color: transparent;
  font-weight: 300; /**/ 
}

a:visited {
  color: pink;
}

a:hover {
  color: pink;
  background-color: transparent;
  font-weight: 400;
}

.half-moon {
  border-radius: 5px 50% 50% 5px;
  width: 150px;
  margin-left: 10px;
}

.card {
  background-color: #801336;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
}

#top {
  text-align: left;
  display: flex;
  margin-bottom: 15px;
}

#profile {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  font-size: 18px;
}

#profile-pic {
  background-color: transparent;
}
.half-moon {
  background-color: transparent;
  border-radius: 5px 50% 50% 5px;
  width: 150px;
  margin-left: 10px;
}

#bio {
  background-color: transparent;
  margin: auto;
}


@media (max-width: 700px) {
  /* For a screen < 540px, this CSS will be read */
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  p{
    font-size: 22px;
  }

  #bio {
    font-size: 22px
  }

  #top {
    text-align: center;
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
  }

  #profile {
    background-color: transparent;
    display: flex;
    height: initial;
    flex-direction: initial;
    justify-content: space-between;
    font-size: 35px;
  }
  
  .container{
    margin: 0 auto;
    width: 330px;
  }

  .card {
    background-color: #801336;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
  }

  #profile-pic {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
  }
  
  .half-moon {
    border-radius: 5px 50% 50% 5px;
    width: 270px;
    margin-left: 10px;
  }
}